{{- $site := .Site -}}
{{- $page := . -}}

  {{- with index site.Menus "legal" }}
    <div class="footer-line print-hidden-flex hidden">
      <ul>
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </div>
  {{- end }}

    <div class="sharing-links footer-line print-hidden-flex hidden">
      <ul>
      {{- $sitemapIcon := resources.GetMatch "images/sitemap.svg" }}
        <li><a href="/sitemap" title="Sitemap">{{- if ne $sitemapIcon nil -}}{{ partial "inlineSVG.html" (dict "svgFile" $sitemapIcon "page" $page) }}{{- else -}}Sitemap{{- end }}
            </a></li>
        <li><button id="side-menu-toggle-dark-theme" title="Toggle Dark Theme">
	    {{- $daynight := resources.GetMatch "images/daynight.svg" }}
              {{ partial "inlineSVG.html" (dict "svgFile" $daynight "page" $page) }}
	    </button></li>
      {{- with site.Home.OutputFormats.Get "rss" }}
        {{- $rssIcon := resources.GetMatch "images/rss.svg" }}
        <li><a href="/index.xml" title="{{- $site.Title }} News Feed">{{- if ne $rssIcon nil -}}{{ partial "inlineSVG.html" (dict "svgFile" $rssIcon "page" $page) }}{{- else -}}RSS Feed{{- end }}
            </a></li>
      {{- end }}
      </ul>
    </div>

    <div class="footer-line">
      <div class="footer-copyright">
        {{- with .Site.Copyright }}© {{ $firstYear := (index $site.RegularPages.ByPublishDate 0).PublishDate.Format "2006" }}{{ $thisYear := now.Format "2006" }}{{ if eq $firstYear $thisYear }}{{ $thisYear }} {{ . }}{{ else }}{{ $firstYear }}–{{ $thisYear }} {{ . }}{{ end }}{{ end -}}
      </div>
    </div>
