{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

  {{- with index site.Menus $menuID }}
    <nav class="topnav hidden">
      <div id="side-menu" class="hidden">
        <div class="menu-close-icon-container">
          <button id="menu-close-icon-clicker" aria-label="Close Side Menu" onclick="closeSideMenu()">
          {{- $cross := resources.GetMatch "images/cross.svg" }}
            {{ partial "inlineSVG.html" (dict "svgFile" $cross "page" $page) }}
          </button>
        </div>
        <div id="side-menu-contents">
          {{ partialCached "sidemenu.html" . }}
        </div>
      </div>
      <div id="hamburger-menu">
        <button id="hamburger-icon-clicker" aria-label="Open Side Menu" onclick="clickHamburgerIcon()">
        {{- $hamburger := resources.GetMatch "images/hamburger.svg" }}
          {{ partial "inlineSVG.html" (dict "svgFile" $hamburger "page" $page) }}
        </button>
      </div>
      {{- $logo := resources.GetMatch (site.Params.logo.svg | default "images/logo.svg") }}
      <div class="topnav-centered">
        <div class="homelink">
          <div {{ with $logo -}}class="logorollover"{{- end -}}>
            <a href="/">
	      {{- with $logo }}
                {{ partial "inlineSVG.html" (dict "svgFile" $logo "page" $page) }}{{ else }}{{ site.Title }}
              {{- end }}
            </a>
          </div>
        </div>
        <ul class="topnav-sections hidden">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </div>
      <div class="top-search">
      {{- with site.Params.enableSearch }}
        <div class="search-icon-container">
          <button id="search-icon-clicker"  aria-label="Reveal Search Box" onclick="clickSearchIcon()">
          {{- $search := resources.GetMatch "images/search.svg" }}
            {{ partial "inlineSVG.html" (dict "svgFile" $search "page" $page) }}
          </button>
        </div>
      {{- end }}
      </div>
    {{- with site.Params.enableSearch }}
      <div id="search-bar-container" class="hidden">
        <form action="/search/" method="GET">
          <input class="searchbar" type="search" name="q" id="search-query" placeholder="Search..." onfocusout="leaveSearchbar()">
        {{- with site.Params.searchPagerSize }}
          <input type="hidden" id="search-page-num" name="p" value="1">
          <input type="hidden" id="search-pager-size" name="s" value="{{ site.Params.searchPagerSize }}">
        {{- end }}
        </form>
      </div>
    {{- end }}
    </nav>
  {{- end }}

{{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range .menuEntries }}
      {{- $currEntry := . }}
      {{- $attrs := dict "href" .URL }}
      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "true") }}
        {{- /* {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }} */}}
      {{- end }}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      {{- with (and (ne .URL "/") (ne .URL "/search/")) }}
        {{- with $currEntry }}
          <li>
            <a
            {{- range $k, $v := $attrs }}
              {{- with $v }}
                {{- printf " %s=%q" $k $v | safeHTMLAttr }}
              {{- end }}
            {{- end -}}
            >{{- $name -}}</a>
          {{- with .Children }}
            <ul>
              {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
            </ul>
          {{- end }}
          </li>
        {{- end }}
      {{- end }}
    {{- end }}
{{- end }}
