{{ define "main" }}
{{- $basepage := . }}
{{- $pages := where site.Pages "Kind" "page" }}
{{- $paginator := .Paginate $pages.ByDate.Reverse }}
    <div class="list-page-container">

    {{- if not $paginator.HasPrev }}
      {{- range first 1 $pages.ByDate.Reverse }}
        {{- $page := . }}
        {{- $bannerImages := .Params.images }}
        {{- $bannerImgURL := index $bannerImages 0 | safeURL }}
        {{- $bannerImg := .Resources.GetMatch $bannerImgURL }}
        {{- if not $bannerImg }}
          {{- $bannerImg = resources.GetMatch "images/ClearBanner.png" -}}
        {{- end -}}
        {{- $bannerImgOverlay := resources.GetMatch "images/ComicBannerMask.svg" -}}
      <div id="section-pull-banner">
	<div id="section-pull-top-story-small">
	  <div id="section-pull-top-summary" class="hidden">
            {{ .Summary }}
          </div>
	  <div class="section-pull-top-title">
            <a href="{{- $page.RelPermalink -}}">{{- .Title -}}</a>
          </div>
	</div>
	<div class="section-pull-banner-image-large hidden">
          {{ with $bannerImg -}}<div class="halftone-image-canvas"><a href="{{- $page.RelPermalink -}}">{{- $bannerImgWebP := .Fill "1536x768 webp" -}}<img loading="eager" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/><div id="banner-overlay-image"><img loading="eager" src="{{- $bannerImgOverlay.RelPermalink | safeURL -}}" alt="Comic Book Overlay" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/></div></a></div>{{ end }}
	</div>
	<div class="section-pull-banner-image-medium hidden">
          {{ with $bannerImg -}}<div class="halftone-image-canvas"><a href="{{- $page.RelPermalink -}}">{{- $bannerImgWebP := .Fill "1516x758 webp" -}}<img loading="eager" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/><div id="banner-overlay-image"><img loading="eager" src="{{- $bannerImgOverlay.RelPermalink | safeURL -}}" alt="Comic Book Overlay" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/></div></a></div>{{ end }}
	</div>
	<div class="section-pull-banner-image-small">
          {{ with $bannerImg -}}<div class="halftone-image-canvas"><a href="{{- $page.RelPermalink -}}">{{- $bannerImgWebP := .Fill "836x418 webp" -}}<img loading="eager" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/><div id="banner-overlay-image"><img loading="eager" src="{{- $bannerImgOverlay.RelPermalink | safeURL -}}" alt="Comic Book Overlay" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}" fetchpriority="high"/></div></a></div>{{ end }}
	</div>
        <div id="section-pull-top-story" class="hidden">
          <div id="section-pull-top-summary" class="hidden">
            {{ .Summary }}
          </div>
          <div class="section-pull-top-title">
            <a href="{{- $page.RelPermalink -}}">{{- .Title -}}</a>
          </div>
        </div>
	{{- if gt (len $pages) 1 }}
        <div id="section-pull-top-stories">
	  <div class="top-three-separator-large hidden"></div>
	  <div class="top-three-separator-reverse"></div>
        {{- range after 1 $pages.ByDate.Reverse | first 3 }}
          {{- $page := . }}
	  {{- $firstRangePage := index (slice (first 4 $pages.ByDate.Reverse)) 0 1 -}}
	  {{- $lastRangePage := index (slice (first 4 $pages.ByDate.Reverse)) 0 3 -}}
          <div class="top-three-separator"></div>
          <div class="top-three{{- if $page.Eq $firstRangePage }} first-top-three{{ else if $page.Eq $lastRangePage }} last-top-three{{- end -}}">
            <a href="{{- $page.RelPermalink -}}">
              <div class="top-three-summary hidden">{{- .Summary -}}</div>
              <div class="top-three-title">{{- .Title -}}</div>
            </a>
          </div>
        {{- end }}
        </div>
	{{- end }}
      </div>
      {{- end }}

      <div class="section-boxes-container">
      {{- $sectionCounter := 0 }}
      {{- range site.Sections }}
        {{- $section := . }}
        {{- with $section }}
          {{- $sectionCounter = add $sectionCounter 1 }}
          {{- if gt $sectionCounter 5 }}
            {{- $sectionCounter = 1 }}
          {{- end }}
          {{- $sectionPages := $section.Pages }}
        <div class="section-boxes-section-container box box{{ $sectionCounter }}">
	  <div class="{{- if modBool $sectionCounter 2 }}evenboxinner{{- else }}oddboxinner{{- end }}">
          <div class="section-boxes-section-title"><a href="{{- $section.RelPermalink -}}">{{- $section.LinkTitle -}}</a></div>
	  {{- /* Top story in section's banner image, appropriately linked */}}
	  {{- range first 1 $sectionPages.ByDate.Reverse }}
            {{- $page := . }}
            {{- $bannerImages := .Params.images }}
            {{- $bannerImgURL := index $bannerImages 0 | safeURL }}
            {{- $bannerImg := .Resources.GetMatch $bannerImgURL }}
            {{- if not $bannerImg }}
              {{- $bannerImg = resources.GetMatch "images/ClearBanner.png" -}}
            {{- end -}}
            {{- with $bannerImg -}}
	  <div class="section-boxes-section-banner"><div class="halftone-image-canvas"><a href="{{- $page.RelPermalink -}}">{{- $bannerImgWebP := .Fill "835x468 webp" -}}<img loading="lazy" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}"/></a></div></div>
	    {{- end }}
          {{- end }}
	  {{- /* Other stories in section including top story --- This is just the first category, and the story title, each appropriately linked */}}
          <ul>
          {{- range $sectionPages.ByDate.Reverse | first 3 }}
            {{- $page := . }}
            <li>{{- with $page.GetTerms "categories" -}}<a class="section-boxes-category" href="{{- (index . 0).RelPermalink -}}">{{- (index . 0).LinkTitle | humanize | title -}}</a>{{- end -}}<br><div class="section-boxes-category-title-spacer"></div><a class="section-boxes-title" href="{{- $page.RelPermalink -}}">{{- $page.Title -}}</a></li>
          {{- end }}
          </ul>
	  </div>
        </div>
        {{- end }}
      {{- end }}
      </div>
    {{- end }}

      <div class="single-page-container">
        <article class="more-on">
          {{ .Content }}
          <h1>More on {{ site.Title -}}</h1>
	  {{- $storyCounter := 0 }}
          {{- range (.Paginate .Pages).Pages }}
            {{- $page := . }}
            {{- $bannerImages := .Params.images }}
            {{- $bannerImgURL := index $bannerImages 0 | safeURL }}
            {{- $bannerImg := .Resources.GetMatch $bannerImgURL }}
            {{- if not $bannerImg }}
              {{- $bannerImg = resources.GetMatch "images/ClearBanner.png" -}}
            {{- end -}}
	    {{- $storyCounter = add $storyCounter 1 }}
            {{- if gt $storyCounter 5 }}
              {{- $storyCounter = 1 }}
            {{- end }}
          <div class="list-stories-block">
	    <div class="box box{{ $storyCounter }}">
              <div class="list-story-generic-block {{ if modBool $storyCounter 2 }}evenboxinner{{- else }}oddboxinner{{- end }}">
		<div class="list-story-generic-block-text">
                  <h2><a href="{{- .RelPermalink -}}">{{- .LinkTitle | title -}}</a></h2>
                  <div class="list-story-generic-block-summary hidden">{{ .Summary }}</div>
                  <div class="list-story-generic-block-entry-info">
                    {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                {{- $dateHuman := .Date | time.Format ":date_long" }}
                    <div class="list-story-generic-block-date"><time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time></div>
                    <div class="list-story-generic-block-author hidden">{{- with $page.Params.Author }}By {{ $page.Params.Author -}}{{- end -}}</div>
                    <div class="list-story-generic-block-reading-time">Reading Time: {{ $page.ReadingTime }} minutes <span class="list-story-generic-block-word-count hidden">({{- $page.FuzzyWordCount }} words)</span></div>
                  </div>
		</div>
		<div class="list-story-generic-block-image-rectangle hidden">
		  {{- with $bannerImg }}
                {{- $bannerImgWebP := .Fill "220x133 webp" }}
		  <div class="halftone-image-canvas">
                    <a href="{{- $page.RelPermalink -}}"><img loading="lazy" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}"/></a>
		  </div>
		  {{- end }}
		</div>
		<div class="list-story-generic-block-image-square">
		{{- with $bannerImg }}
                {{- $bannerImgWebP := .Fill "138x138 webp" }}
		  <div class="halftone-image-canvas">
                    <a href="{{- $page.RelPermalink -}}"><img loading="lazy" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}"/></a>
		  </div>
		  {{- end }}
		</div>
              </div>
	    </div>
          </div>
          {{- end }}
          {{ partial "pagination.html" (dict "page" . "format" "cybercomic") }}
        </article>

        <aside class="aside-list">
          <div class="aside-card aside-card-list-top box box3 bubble-high print-hidden-block hidden">
	          <div class="oddboxinner">
              <div class="aside-card-title">Trending Tags</div>
              <div class="terms-container">
		            <ul>
		            {{- range site.Taxonomies.tags.ByCount | first $paginator.PagerSize }}
                  <li><a class="lowercase" href="{{- .Page.RelPermalink -}}">#{{- replace .Page.Title " " "-" | lower -}}</a></li>
		            {{- end }}
		            </ul>
              </div>
	          </div>
          </div>

          <div class="aside-card box box4 bubble-low print-hidden-block hidden">
	          <div class="evenboxinner">
              <div class="aside-card-title">Trending Categories</div>
              <div class="terms-container">
		            <ul>
		            {{- range site.Taxonomies.categories.ByCount | first $paginator.PagerSize }}
                  <li><a href="{{- .Page.RelPermalink -}}">{{- .Page.Title | humanize | lower -}}</a></li>
		            {{- end }}
		            </ul>
              </div>
	          </div>
          </div>

          {{- $data := hugo.Data.lastfm -}}
          {{- $artists := index $data "artists" -}}
          {{- with $artists -}}
          {{- if gt (len .) 0 -}}
          <div class="aside-card box box1 bubble-high print-hidden-block hidden">
	          <div class="oddboxinner">
              <div class="aside-card-title">Top Listens This Week</div>
              <div class="terms-container">
		            {{ partial "lastfm.html" $basepage }}
              </div>
	          </div>
          </div>
          {{- end }}
          {{- end }}
        </aside>
      </div>
    </div>
{{ end }}
