{{ define "main" }}
    {{- $isAsc := strings.HasSuffix .RelPermalink "asc.html" }}
    {{- $pages := .Pages }}
    {{- if $isAsc }}
      {{- $pages = $pages.ByDate }}
    {{- else }}
      {{- $pages = $pages.ByDate.Reverse }}
    {{- end }}
    {{- $paginator := .Paginate $pages }}

    <div class="list-page-container">
      <article class="more-on">
        <h1 class="lowercase">{{ if eq .Data.Plural "tags" }}#{{ replace .Title " " "-" | lower }}{{ else }}{{ .Title | humanize | lower }}{{ end }}</h1>
        {{ .Content }}
        {{- /* Sort toggle link */ -}}
        {{- $ascUrl := printf "%s/asc.html" (strings.TrimSuffix "/" .RelPermalink) }}
        {{- $defaultUrl := strings.TrimSuffix "/asc.html" .RelPermalink }}
        <div class="sort-toggle">
          {{- if $isAsc }}
            <a href="{{ $defaultUrl }}">Switch to Newest First</a>
          {{- else }}
            <a href="{{ $ascUrl }}">Switch to Oldest First</a>
          {{- end }}
        </div>
        {{- $storyCounter := 0 }}
        {{- range $paginator.Pages }}
          {{- $page := . }}
          {{- $bannerImages := .Params.images }}
          {{- $bannerImgURL := index $bannerImages 0 | safeURL }}
          {{- $bannerImg := .Resources.GetMatch $bannerImgURL }}
          {{- if not $bannerImg }}
            {{- $bannerImg = resources.GetMatch "images/ClearBanner.png" -}}
          {{- end -}}
	  {{- $storyCounter = add $storyCounter 1 }}
          {{- if gt $storyCounter 5 }}
            {{- $storyCounter = 1 }}
          {{- end }}
        <div class="list-stories-block">
	  <div class="box box{{ $storyCounter }}">
            <div class="list-story-generic-block {{ if modBool $storyCounter 2 }}evenboxinner{{- else }}oddboxinner{{- end }}">
              <div class="list-story-generic-block-text">
		<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle | title }}</a></h2>
		<div class="list-story-generic-block-summary hidden">{{ .Summary }}</div>
		<div class="list-story-generic-block-entry-info">
		  {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                  {{- $dateHuman := .Date | time.Format ":date_long" }}
                  <div class="list-story-generic-block-date"><time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time></div>
                  <div class="list-story-generic-block-author hidden">{{- with $page.Params.Author }}By {{ $page.Params.Author }}{{ end -}}</div>
                  <div class="list-story-generic-block-reading-time">Reading Time: {{ $page.ReadingTime }} minutes <span class="list-story-generic-block-word-count hidden">({{- $page.FuzzyWordCount }} words)</span></div>
		</div>
              </div>
              <div class="list-story-generic-block-image-rectangle hidden">
		{{- with $bannerImg }}
                {{- $bannerImgWebP := .Fill "220x133 webp" }}
		<div class="halftone-image-canvas">
		  <a href="{{- $page.RelPermalink -}}"><img loading="lazy" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}"/></a>
		</div>
		{{- end }}
              </div>
              <div class="list-story-generic-block-image-square">
		{{- with $bannerImg }}
                {{- $bannerImgWebP := .Fill "138x138 webp" }}
		<div class="halftone-image-canvas">
		  <a href="{{- $page.RelPermalink -}}"><img loading="lazy" src="{{- $bannerImgWebP.RelPermalink | safeURL -}}" alt="Image for Entry, {{ $page.LinkTitle -}}" width="{{ $bannerImgWebP.Width }}" height="{{ $bannerImgWebP.Height }}"/></a>
		</div>
		{{- end }}
              </div>
            </div>
          </div>
	</div>  
        {{- end }}
	{{ partial "pagination.html" (dict "page" . "format" "cybercomic") }}
      </article>
    </div>
{{ end }}
